body {

background-image:url("/images/lebron-powder-toss.jpg");
background-repeat:no-repeat;
color: #EEE9E9;
width:100%;
background-color: black;
text-align:middle;
}


a {text-decoration:none}
a:link {color:white;}
a:visited {color:white;}
a:hover {background-color:#555;color:white;}

.forumButtons:hover, .loginButton:hover{background-color:#8B3A3A;}
table a:link{color:black;}
table a:visited {color:black;}
table a:hover {background-color:#8B7355; color:white;}

.menu{
position:absolute;
top:100px;
background-color:#000;
color:white;
padding:10px;
margin-left:200px;
width:800px;
z-index:1;
}
.menu li:hover ul {display:block;}

nav ul{
padding:0; 
margin:0;
}
nav li{
float:left; list-style-type:none; position:relative;
}
nav li a{
display:block;padding:10px; border-left:1px solid white;
}

nav ul ul{
display:none; position:absolute; left:0; background-color:#555;
}
nav ul ul a{
display: block;border-top:1px solid white;padding:10px; position:relative;width:100px;
}
#imageNav{list-style-type:none;}
.imageButton{
	float:left; list-style-type: none; position:relative; background-color: gray; padding:5px; border:1px solid white;
}
.middle{
position:absolute;
top:180px;
background-color: rgba(128,128,128,.7);
width:800px;
z-index:-1;
margin-left:200px;
}

.right{
position:fixed;
top:200px;
left:800px;
width:200px;
}
.warning{
color:#8B3A3A;
}

.fadeText{display:none; color:#8B3A3A; font-size:40px; position:absolute; margin-left:120px; top:-180px; z-index:2;}

.first { display:none; background-color: #3f3;}
.second { display:none; background-color: #33f;}
#flashContent { 
position:absolute;
margin-left:80px;
top:-180px;
width:100%;
height:100%;
}

.rotate{ display:none; height:300px; opacity:1.0;}

.rotateText{display:none;}


#forumMenu{
width:400px;
text-align:left;
position:absolute;
top:160px;
margin-left:200px;
height:20px;
background-color: gray;
}
.forumButtons{
padding:0px 5px;
}
.forumTableHeader{
background-color: #8B3A3A;
}
.postInfo{
background-color: #8B3A3A;
width:150px;
}
.tableRows{
background-color: #FAF0E6;
color: black;
}
.postRow{
height: 200px;
}
.postedContent{
background-color: #FAF0E6;
color: black;
width:600px;
}
.postSubmitContent{
height:300px;
width:500px;
}
.forumTable{
width:800px;
}
.leftForumColumn{
width:500px;
}
#loginLogoutMenu{
width:400px;
text-align:right;
position:absolute;
top:160px;
margin-left:600px;
height:20px;
background-color: gray;
}


#div1 {width:350px;height:300px;padding:10px;border:1px solid #aaaaaa;}